<h1>Restaurant list</h1>

<p><%= link_to 'Add a restaurant', new_restaurant_path,
class: "btn btn-outline-primary btn-sm"%>
  </p>

<div class="restaurant-list">
  <% @restaurants.each do |restaurant| %>
  <div class="restaurant card">
    <div class="card-header d-flex justify-content-between">
      <span><%= link_to restaurant.name, restaurant_path(restaurant) %></span>
      <span class="badge badge-success"><%= restaurant.category %></span>
    </div>
    <div class="card-body">
      <p><%= restaurant.address %></p>
      <%= link_to 'Add a review', new_restaurant_review_path(restaurant),
      class: "btn btn-outline-secondary btn-sm" %>
    </div>
  </div>

<% end %>
</div>

</div>