<h2><%= @restaurant.name %></h2>
<hr/>
<h4>New review</h4>
<%= simple_form_for [ @restaurant, @review ] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit 'Leave review', class: 'btn btn-primary' %>
<% end %>